@import "../theme/index.scss";



.react-ui__input{
  border: 1px solid #d2d2d2;
  display: inline-block;
  input{
    outline: none;
    border: none;
  }
  &.focus{
    border-color: blue;
  }

  &.size-large input{
    line-height: 40px;
    font-size: 18px;
  }
  &.size-small input{
    line-height: 20px;
    font-size: 14px;
  }
  &.middle input{
    font-size: 12px;
    line-height: 30px;
  }
  &--primary{
    //background: $primaryColor;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  }
  &--warning{
    background: $warningColor;
  }
}
