@import "../theme/index.scss";



.react-ui__btn{
  &--primary{
    //background: $primaryColor;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  }
  &--warning{
    background: $warningColor;
  }
}
