.loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading__mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}
.loading__content{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    background: #ffffff;
    width: 300px;
    transform: translate(-50%,-50%);
    padding: 50px 0;
    box-sizing: border-box;
}
